<h1 class="container border-bottom border-dark-subtle mt-4 text-uppercase">mapa</h1>
<section class="d-flex flex-row justify-content-cente gap-4 mx-5 mt-5">
  <div>
    <h5>Map style</h5>
    <select class="form-control-sm" type="button" [formControl]="selectStyle" (change)="changeStyle($event)">
      <option value="STREET">Street</option>
      <option value="SATELLITE">Satellite</option>
      <option value="NAVIGATION">Navigation</option>
      <option value="OUTDOORS">Outdoors</option>
    </select>
  </div>
  <div>
    <h5>Add marker on:</h5>

    <select class="form-control-sm" type="button" [formControl]="selectCategory" (change)="changeCategory($event)">
      <option value="RESTAURANTS">Restaurants</option>
      <option value="HOTELS">Hotels</option>
      <option value="PARKINGS">Parkings</option>
      <option value="THEATERS">Theaters</option>
    </select>
  </div>

  <div>
    <h5>Filter Markers</h5>
    <section class="d-flex flex-row justify-content-center gap-4 border border-black px-2 rounded-2">
      <div class="d-flex flex-row gap-2 align-items-center p-2 py-1 rounded-1">
        <input [formControl]="restaurantCheckbox" type="checkbox" id="filter-restaurants" name="filter-restaurants"
          checked (change)="onCategoryFilterChange($event, 'RESTAURANTS')" />
        <label for="filter-restaurants" style="font-size: calc(1rem * 0.9)">Restaurants</label>
      </div>
      <div class=" d-flex flex-row gap-2 align-items-center p-2 py-1 rounded-1">
        <input [formControl]="hotelCheckbox" type="checkbox" id="filter-hotels" name="filter-hotels" checked
          (change)="onCategoryFilterChange($event, 'HOTELS')" />
        <label for="filter-hotels" style="font-size: calc(1rem * 0.9)">Hotels</label>
      </div>
      <div class=" d-flex flex-row gap-2 align-items-center p-2 py-1 rounded-1">
        <input [formControl]="parkingCheckbox" type="checkbox" id="filter-parkings" name="filter-parkings" checked
          (change)="onCategoryFilterChange($event, 'PARKINGS')" />
        <label for="filter-parkings" style="font-size: calc(1rem * 0.9)">Parkings</label>
      </div>
      <div class=" d-flex flex-row gap-2 align-items-center p-2 py-1 rounded-1">
        <input [formControl]="theaterCheckbox" type="checkbox" id="filter-theaters" name="filter-theaters" checked
          (change)="onCategoryFilterChange($event, 'THEATERS')" />
        <label for="filter-theaters" style="font-size: calc(1rem * 0.9)">Theaters</label>
      </div>
    </section>
  </div>

</section>

<!-- <mapbox-search-box
  access-token="pk.eyJ1IjoiZ3VpZnJlcmliYXMiLCJhIjoiY2x4YnFmcnliMDNuYTJpcTFic3M2bGYzNiJ9.HVHrEtH7dWvSCTojNDKmXw"
  proximity="0,0">
</mapbox-search-box> -->

<article class="p-5 w-100 h-100">
  <div id="map" class="map"></div>
</article>
