<!-- Modal Add User
<div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="addUserModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="addUserModal">ADD NEW USER</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="showUser(null)"></button>
      </div>
      <div class="modal-body">
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text">Name:</span> <input class="form-control" type="text"
            placeholder="Write your name..">
        </div>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text">Lastname:</span> <input class="form-control" type="text"
            placeholder="Write your lastname..">
        </div>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text">Age:</span> <input class="form-control" type="text"
            placeholder="Write your age..">
        </div>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text">Phone:</span> <input class="form-control" type="phone"
            placeholder="Write your phone..">
        </div>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text">Email:</span> <input class="form-control" type="email"
            placeholder="Write your email..">
        </div>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text">Gender:</span> <input class="form-control" type="text"
            placeholder="Write your gender..">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="showUser(null)">Close</button>
      </div>
    </div>
  </div>
</div> -->
